


<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>首页</title>

        <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/font-electro.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/owl-carousel.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/colors/yellow.css" media="all" />


        <link rel="stylesheet" href="/static/assets/css/config.css">

        <link href="/static/assets/css/colors/green.css" rel="alternate stylesheet" title="Green color">
        <link href="/static/assets/css/colors/pink.css" rel="alternate stylesheet" title="Pink color">
        <link href="/static/assets/css/colors/blue.css" rel="alternate stylesheet" title="Blue color">
        <link href="/static/assets/css/colors/red.css" rel="alternate stylesheet" title="Red color">
        <link href="/static/assets/css/colors/orange.css" rel="alternate stylesheet" title="Orange color">
        <link href="/static/assets/css/colors/black.css" rel="alternate stylesheet" title="Black color">
        <link href="/static/assets/css/colors/gold.css" rel="alternate stylesheet" title="Gold color">
        <link href="/static/assets/css/colors/yellow.css" rel="alternate stylesheet" title="Yellow color">
        <link href="/static/assets/css/colors/flat-blue.css" rel="alternate stylesheet" title="Flat Blue color">
        <!-- Demo Purpose Only. Should be removed in production : END -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="/static/assets/images/fav-icon.png">
    </head>

    <body class="page home page-template-default">
        <div id="page" class="hfeed site">
            <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>


  <header id="masthead" class="site-header header-v1">
  <div class="container">
   <div class="row">
	<form class="navbar-search" method="get" action="/">
	<label class="sr-only screen-reader-text" for="search">Search for:</label>
	<div class="input-group">
		<input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="点击搜索" />
		<div class="input-group-addon search-categories">
			<select name="product_cat" id="product_cat" class="postform resizeselect" style="width: 111px;">
				<option value="0" selected="selected">所有商品</option>
				<option class="level-0" value="laptops-laptops-computers">台式机</option>
				<option class="level-0" value="laptops-laptops-computers">笔记本</option>
				<option class="level-0" value="ultrabooks-laptops-computers">装机硬件</option>
				<option class="level-0" value="mac-computers-laptops">硬件外设</option>
			</select>
		</div>
		<div class="input-group-btn">
			<input type="hidden" id="search-param" name="post_type" value="product" />
			<button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
		</div>
	</div>
</form>
</div>

  <div class="row">
   <div class="col-xs-12 col-lg-3">
	<nav>
	 <ul class="list-group vertical-menu yamm make-absolute">
		<li class="list-group-item"><span><i class="fa fa-list-ul"></i>所有商品</span></li>

		<li class="highlight menu-item animate-dropdown"><a title="台式机" href="taishiji/">台式机</a></li>

		<li class="highlight menu-item animate-dropdown"><a title="笔记本" href="list/">笔记本</a></li>

		<li class="highlight menu-item animate-dropdown"><a title="购物车" href="gouwuche.html">购物车</a></li>

		<li class="highlight menu-item animate-dropdown"><a title="DIY装机" href="dingdan.html">DIY装机</a></li>

		<li class="highlight menu-item animate-dropdown"><a title="我的订单" href="dingdan.html">我的订单</a></li>

		<li class="highlight menu-item animate-dropdown"><a title="我的账户" href="wodezhanghu.html">我的账户</a></li>





		<li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">
			<a title="装机硬件" data-hover="dropdown" href="zhuangjiyingjian.html" data-toggle="dropdown" class="dropdown-toggle"aria-haspopup="true">装机硬件</a>
			<ul role="menu" class=" dropdown-menu">
				<li class="menu-item animate-dropdown menu-item-object-static_block">
					<div class="yamm-content">
						<div class="row">
							<div class="col-sm-6">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<ul>
													<li class="nav-title">装机硬件</li>
													<li><a href="zhuban/">主板</a></li>
													<li><a href="xianka/">显卡</a></li>
													<li><a href="cpu/">CPU</a></li>
													<li><a href="neicun/">内存</a></li>
													<li><a href="yingpan/">硬盘</a></li>
                                                    <li><a href="jixiang/">机箱</a></li>
													<li class="nav-divider"></li>

												</ul>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">
			<a title="硬件外设" data-hover="dropdown" href="yingjianwaishe.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">硬件外设
			</a>
			<ul role="menu" class=" dropdown-menu">
	<li class="menu-item animate-dropdown menu-item-object-static_block">
		<div class="yamm-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_text_column wpb_content_element ">
								<div class="wpb_wrapper">
									<ul>
										<li class="nav-title">硬件外设</li>
										<li><a href="yingjianwaishe_yejingxianshiqi.html">液晶显示器</a></li>
										<li><a href="yingjianwaishe_yinxiang.html">音箱</a></li>
										<li><a href="yingjianwaishe_jianpan.html">键盘</a></li>
										<li><a href="yingjianwaishe_shubiao.html">鼠标</a></li>

										<li class="nav-divider"></li>

									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</li>
</ul>
		</li>










	</ul>

</nav>
	        </div>

	        <div class="col-xs-12 col-lg-9">
            	<nav>
	<ul id="menu-secondary-nav" class="secondary-nav">
		<li class="menu-item"><a href="taishiji.html">台式机</a></li>
		<li class="menu-item"><a href="bijiben.html">笔记本</a></li>
		<li class="menu-item"><a href="DIY.html"> DIY装机</a></li>
		<li class="menu-item"><a href="dingdan.html">我的订单</a></li>
		<li class="menu-item"><a href="wodezhanghu.html">我的账户</a></li>

	</ul>
</nav>
            </div>
        </div>
    </div>
</header>

            <div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v1-slider" >


	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

		<div class="item" style="background-image: url(/static/images/saq/01.jpg);">
{#            <img src="" alt="">#}
		</div>


		<div class="item" style="background-image: url(/static/images/bjb/02.jpg);">

		</div>

		<div class="item" style="background-image: url(/static/assets/images/slider/banner-3.jpg);">

		</div>


	</div>


</div>
  <div class="home-v1-ads-block animate-in-view fadeIn animated" data-animation="fadeIn">
	<div class="ads-block row">
		<div class="ad col-xs-12 col-sm-4">
			<div class="media">
				<div class="media-left media-middle">
					<img data-echo="/static/images/b1.jpg" src="/static/images/b1.jpg" alt="">
				</div>
				<div class="media-body media-middle">
					<div class="ad-text">
						 <br> 联想(Lenovo)英特尔酷睿i5 13.3英寸超轻薄笔记本电脑 <span style="color: red;">酷睿8代处理器</span> <br>
					</div>
					<div class="ad-action">
						<a href="single.html">现在去买</a>
					</div>
				</div>
			</div>
		</div>

		<div class="ad col-xs-12 col-sm-4">
			<div class="media">
				<div class="media-left media-middle">
					<img data-echo="/static/images/b1.jpg" src="/static/images/b1.jpg" alt="">
				</div>
				<div class="media-body media-middle">
					<div class="ad-text">
						<br> HUAWEI MateBook 13系列<span style="color: red;">酷睿8代处理器美全面屏</span> <br>
					</div>
					<div class="ad-action">
						<a href="single.html">现在去买</a>
					</div>

				</div>
			</div>
		</div>

		<div class="ad col-xs-12 col-sm-4">
			<div class="media">
				<div class="media-left media-middle">
					<img data-echo="/static/images/b1.jpg" src="/static/images/b1.jpg" alt="">
				</div>
				<div class="media-body media-middle">
					<div class="ad-text">
						<br>ThinkPad X1 隐士系列 <span style="color: red;">酷睿8代处理器，高性能显卡，触控屏</span><br>
					</div>
					<div class="ad-action">
						<a href="single.html"> 现在去买</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

               <div class="home-v1-deals-and-tabs deals-and-tabs row animate-in-view fadeIn animated" data-animation="fadeIn">



	<div class="tabs-block col-lg-8">
		<div class="products-carousel-tabs">
			<ul class="nav nav-inline" style="width:1170px">
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="tab-products-1" role="tabpanel">
					<div class="woocommerce columns-3">


						<ul class="products columns-3" style="width: 1170px;">

                                {% for g in goods %}

							<li class="product ">
								<div class="product-outer" style="display: inline-block; width: 280px; height: 450px;float: left;margin-left: 10px" >

                                    <div class="product-inner">

									<a href="singlec/{{ g.id }}">
										<h3>{{ g.cname }}</h3>
										<div class="product-thumbnail">
											<img src="/{{ g.cimgb1 }}" data-echo="/{{ g.cimgb1 }}" class="img-responsive" alt="">
										</div>
									</a>

									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount">￥{{ g.cprice }}</span></ins>

																	<span class="amount"> </span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div>
								</div>
							</div>
                                {% endfor %}
							</li>
						</ul>


					</div>
				</div>
            </div>
		</div>
	</div>
</div>



<footer id="colophon" class="site-footer">
		<div class="footer-newsletter">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<h5 class="newsletter-title">河南中医药大学</h5>
					<span class="newsletter-marketing-text">信息技术学院--软件工程专业   <strong style="margin-left: 20px;">毕业设计：电脑装机报价系统的设计与实现</strong></span>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom-widgets">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
					<div class="columns">
						<aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">快速入口</h4>
								<div class="menu-footer-menu-1-container">
									<ul id="menu-footer-menu-1" class="menu">
										<li class="menu-item"><a href="bijiben.html">笔记本</a></li>
										<li class="menu-item"><a href="taishiji.html">台式机</a></li>
										<li class="menu-item"><a href="DIY.html">DIY装机</a></li>
										<li class="menu-item"><a href="dingdan.html">订单</a></li>
										<li class="menu-item"><a href="gouwuche.html">购物车</a></li>
										<li class="menu-item"><a href="wodezhanghu.html">我的账户</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div>

					<div class="columns">
						<aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">装机硬件</h4>
								<div class="menu-footer-menu-2-container">
									<ul id="menu-footer-menu-2" class="menu">
										<li class="menu-item"><a href="zhuangjiyingjian_zhuban.html">主板</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_xianka.html">显卡</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_CPU.html">CPU</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_neicun.html">内存</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_yingpan.html">硬盘</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_sanreqi.html">散热器</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div>

					<div class="columns">
						<aside id="nav_menu-1" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">装机硬件</h4>
								<div class="menu-footer-menu-2-container">
									<ul id="menu-footer-menu-2" class="menu">
										<li class="menu-item"><a href="zhuangjiyingjian_guangqu.html">光驱</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_dianyuan.html">电源</a></li>
										<li class="menu-item"><a href="zhaungjiyingjian_jixiang.html">机箱</a></li>
										<li class="menu-item"><a href="zhuangjiyingjian_shengka.html">声卡</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div>

					<div class="columns">
						<aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">硬件外设</h4>
								<div class="menu-footer-menu-3-container">
									<ul id="menu-footer-menu-3" class="menu">
										<li class="menu-item"><a href="yingjianwaishe_yejingxianshiqi.html">液晶显示器</a></li>
										<li class="menu-item"><a href="yingjianwaishe_yinxiang.html">音箱</a></li>
										<li class="menu-item"><a href="yingjianwaishe_jianpan.html">键盘</a></li>
										<li class="menu-item"><a href="yingjianwaishe_shubiao.html">鼠标</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div>

				</div>

				<div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">

					<div class="footer-call-us">
						<div class="media">
							<span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
							<div class="media-body">
								<span class="call-us-text">热线电话</span>
								<span class="call-us-number">12345678900</span>
							</div>
						</div>
					</div>


					<div class="footer-address">
						<strong class="footer-address-title">联系地址</strong>
						<address>河南省郑州市文化路158号6楼</address>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<div class="container">
			<div class="pull-left flip copyright">版权所有  - xxxxxxxxx</div>
		</div>
	</div>
</footer>

      </div>


        <div id="config" class="config">
            <div id="config_wrapper">








        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/echo.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/wow.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/electro.js"></script>



        <script src="/static/switchstylesheet/switchstylesheet.js"></script>

           <script>
           (function($) {
               $(document).ready(function(){
                   $(".changecolor").switchstylesheet( { seperator:"color"} );
                   $('.show-theme-options').click(function(){
                       $(this).parent().toggleClass('open');
                       return false;
                   });

                   $('#home-pages').on( 'change', function() {
                       $.ajax({
                           url : $('#home-pages option:selected').val(),
                           success:function(res) {
                               location.href = $('#home-pages option:selected').val();
                           }
                       });
                   });

                    $('#demo-pages').on( 'change', function() {
            			$.ajax({
            				url : $('#demo-pages option:selected').val(),
            				success:function(res) {
            					location.href = $('#demo-pages option:selected').val();
            				}
            			});
            		});

                    $('#header-style').on( 'change', function() {
            			$.ajax({
            				url : $('#header-style option:selected').val(),
            				success:function(res) {
            					location.href = $('#header-style option:selected').val();
            				}
            			});
            		});

                    $('#shop-style').on( 'change', function() {
            			$.ajax({
            				url : $('#shop-style option:selected').val(),
            				success:function(res) {
            					location.href = $('#shop-style option:selected').val();
            				}
            			});
            		});

                    $('#product-category-col').on( 'change', function() {
            			$.ajax({
            				url : $('#product-category-col option:selected').val(),
            				success:function(res) {
            					location.href = $('#product-category-col option:selected').val();
            				}
            			});
            		});

                    $('#single-products').on( 'change', function() {
            			$.ajax({
            				url : $('#single-products option:selected').val(),
            				success:function(res) {
            					location.href = $('#single-products option:selected').val();
            				}
            			});
            		});

                    $('.style-toggle').on( 'click', function() {
            			$(this).parent('.config').toggleClass( 'open' );
            		});
               });
        })(jQuery);
        </script>


    </body>
</html>
