


<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <title>Electro &#8211; Electronics Ecommerce Theme</title> -->
		<title>台式机</title>

        <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/font-electro.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/owl-carousel.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/assets/css/colors/yellow.css" media="all" />

        <!-- Demo Purpose Only. Should be removed in production -->
        <link rel="stylesheet" href="/static/assets/css/config.css">

        <link href="/static/assets/css/colors/green.css" rel="alternate stylesheet" title="Green color">
        <link href="/static/assets/css/colors/pink.css" rel="alternate stylesheet" title="Pink color">
        <link href="/static/assets/css/colors/blue.css" rel="alternate stylesheet" title="Blue color">
        <link href="/static/assets/css/colors/red.css" rel="alternate stylesheet" title="Red color">
        <link href="/static/assets/css/colors/orange.css" rel="alternate stylesheet" title="Orange color">
        <link href="/static/assets/css/colors/black.css" rel="alternate stylesheet" title="Black color">
        <link href="/static/assets/css/colors/gold.css" rel="alternate stylesheet" title="Gold color">
        <link href="/static/assets/css/colors/yellow.css" rel="alternate stylesheet" title="Yellow color">
        <link href="/static/assets/css/colors/flat-blue.css" rel="alternate stylesheet" title="Flat Blue color">
        <!-- Demo Purpose Only. Should be removed in production : END -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="/static/assets/images/fav-icon.png">
    </head>

    <body class="page home page-template-default">
        <div id="page" class="hfeed site">
            <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

            
            <header id="masthead" class="site-header header-v3">
    <div class="container">
        <div class="row">

            <!-- ============================================================= Header Logo ============================================================= -->
<div class="header-logo">
	</div>
<!-- ============================================================= Header Logo : End============================================================= -->

            <form class="navbar-search" method="get" action="/">
	<label class="sr-only screen-reader-text" for="search">Search for:</label>
	<div class="input-group">
		<input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s" placeholder="点击搜索" />
		<div class="input-group-addon search-categories">
			<select name="product_cat" id="product_cat" class="postform resizeselect" style="width: 111px;">
				<option value="0" selected="selected">所有商品</option>
				<option class="level-0" value="laptops-laptops-computers">台式机</option>
				<option class="level-0" value="laptops-laptops-computers">笔记本</option>
				<option class="level-0" value="ultrabooks-laptops-computers">装机硬件</option>
				<option class="level-0" value="mac-computers-laptops">硬件外设</option>
				<option class="level-0" value="all-in-one-laptops-computers">扩展配件</option>
			</select>
		</div>
		<div class="input-group-btn">
			<input type="hidden" id="search-param" name="post_type" value="product" />
			<button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
		</div>
	</div>
</form>
</div><!-- /.row -->
</div>
</header><!-- #masthead -->

<nav class="navbar navbar-primary navbar-full yamm">
	<div class="container">
		<div class="clearfix">
			<button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#header-v3">
				&#9776;
			</button>
		</div>

		<div class="collapse navbar-toggleable-xs" id="header-v3">
			<ul class="nav navbar-nav">
				<li class="menu-item"><a title="首页" href="/goods/">首页</a></li>
				<li class="menu-item"><a title="华硕" href="list1/">华硕</a></li>
				<li class="menu-item"><a title="联想" href="list2/">联想</a></li>
				<!-- <li class="menu-item"><a title="惠普" href="taishiji_huipu.html">惠普</a></li> -->
{#				<li class="menu-item"><a title="弘基" href="taishiji_hongji.html">弘基</a></li>#}
{#				<li class="menu-item"><a title="雷神" href="taishiji_leishen.html">雷神</a></li>#}
				<li class="menu-item"><a title="戴尔" href="list3/">戴尔</a></li>
				<li class="menu-item"><a title="苹果" href="list4/">苹果</a></li>
				<li class="menu-item"><a title="购物车" href="gouwuche.html">购物车</a></li>
				<li class="menu-item"><a title="我的订单" href="dingdan.html">我的订单</a></li>
				<li class="menu-item"><a title="我的账户" href="wodezhanghu.html">我的账户</a></li>
			</ul>
		</div><!-- /.collpase -->
	</div><!-- /.-container -->
</nav><!-- /.navbar -->
            <div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v3-slider" >
	<!-- ========================================== SECTION – HERO : END========================================= -->

	
	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
	
		<div class="item" style="background-image: url(/static/images/saq/01.jpg);">
		
		</div><!-- /.item -->
	
	
		<div class="item" style="background-image: url(/static/images/bjb/02.jpg);">
			
		</div><!-- /.item -->
	
		<div class="item" style="background-image: url(/static/assets/images/slider/banner-3.jpg);">
			
		</div><!-- /.item -->
	
	
	</div><!-- /.owl-carousel -->
	

<!-- ========================================= SECTION – HERO : END ========================================= -->


</div><!-- /.home-v1-slider -->
                <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
	<div class="features-list columns-5">
		<div class="feature">
			<div class="media">
				<div class="media-left media-middle feature-icon">
					<i class="ec ec-transport"></i>
				</div>
				<div class="media-body media-middle feature-text">
					<strong>满4999</strong>包邮
				</div>
			</div>
		</div><!-- .feature -->

		<div class="feature">
			<div class="media">
				<div class="media-left media-middle feature-icon">
					<i class="ec ec-customers"></i>
				</div>
				<div class="media-body media-middle feature-text">
					<strong>99% 好评</strong> 反馈
				</div>
			</div>
		</div><!-- .feature -->

		<div class="feature">
			<div class="media">
				<div class="media-left media-middle feature-icon">
					<i class="ec ec-returning"></i>
				</div>
				<div class="media-body media-middle feature-text">
					<strong>30天</strong> 无忧退货
				</div>
			</div>
		</div><!-- .feature -->

		<div class="feature">
			<div class="media">
				<div class="media-left media-middle feature-icon">
					<i class="ec ec-payment"></i>
				</div>
				<div class="media-body media-middle feature-text">
					<strong>支付</strong> 安全系统
				</div>
			</div>
		</div><!-- .feature -->

		<div class="feature">
			<div class="media">
				<div class="media-left media-middle feature-icon">
					<i class="ec ec-tag"></i>
				</div>
				<div class="media-body media-middle feature-text">
					<strong>只有最好的</strong> 品牌
				</div>
			</div>
		</div><!-- .feature -->
	</div><!-- .features-list -->
</div><!-- .home-v3-features-block -->                <div class="home-v3-ads-block animate-in-view fadeIn animated" data-animation=" animated fadeIn">
	<div class="ads-block row">
		<div class="ad col-xs-12 col-sm-6">
			<div class="media">
				<div class="media-left media-middle">
					<img data-echo="/static/assets/images/banner/cameras.jpg" src="/static/assets/images/blank.gif" alt="">
				</div>
				<div class="media-body media-middle">
					<div class="ad-text">
						Catch Hottest <strong>Deals</strong> in Cameras Category
					</div>
					<div class="ad-action">
						<a href="#">Shop now</a>
					</div>
				</div>
			</div>
		</div><!-- /.col -->

		<div class="ad col-xs-12 col-sm-6">
			<div class="media">
				<div class="media-left media-middle">
					<img data-echo="/static/assets/images/banner/DesktopPC.jpg" src="/static/assets/images/blank.gif" alt="">
				</div>
				<div class="media-body media-middle">
					<div class="ad-text">
						Tablets, Smartphones <br><strong>and more</strong>
					</div>
					<div class="ad-action">
						<a href="#"><span class="from"><span class="prefix">From</span><span class="value"><sup>$</sup>749</span><span class="suffix">99</span></span></a>
					</div>
				</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.home-v3-ads-block -->                <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
	<h2 class="sr-only">Product Carousel Tabs</h2>
	<ul class="nav nav-inline text-xs-left">
		<li class="nav-item">
			<a class="nav-link active" href="#tab-products-1" data-toggle="tab">精选</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#tab-products-2" data-toggle="tab">在售</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#tab-products-3" data-toggle="tab">畅销</a>
		</li>
	</ul><!-- /.nav -->

	<div class="tab-content">
			<div class="tab-pane active" id="tab-products-1" role="tabpanel">
				<section class="section-products-carousel" >
					<div class="home-v3-owl-carousel-tabs">
						<div class="woocommerce columns-4">
	
	
			<div class="products owl-carousel home-v3-carousel-tabs products-carousel columns-4">
	
	            {% for g in goods %}
				<div class="product first">
					<div class="product-outer">
						<div class="product-inner">
						   
							<a href="single.html">
								<h3>{{ g.gtitle }}</h3>
								<div class="product-thumbnail">
									<img src="/{{ g.gpicb1 }}" data-echo="/{{ g.gpicb1 }}" class="img-responsive" alt="">
								</div>
							</a>
					
							<div class="price-add-to-cart">
								<span class="price">
									<span class="electro-price">
										<ins><span class="amount"> </span></ins>
															<span class="amount"> ￥{{ g.gprice }}</span>
									</span>
								</span>
								<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
							</div><!-- /.price-add-to-cart -->
						</div><!-- /.product-inner -->
					</div><!-- /.product-outer -->
					
				</div><!-- /.product -->
	            {% endfor %}

						</div><!-- /.products -->
						</div>
					</div>
				</section>
			</div><!-- /.tab-pane -->
	
			<div class="tab-pane" id="tab-products-2" role="tabpanel">
				<section class="section-products-carousel">
					<div class="home-v3-owl-carousel-tabs">
						<div class="woocommerce columns-4">
	
	
			<div class="products owl-carousel home-v3-carousel-tabs products-carousel columns-4">
			
			
						<div class="product first">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product ">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product ">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
			
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
						</div><!-- /.product -->
			
			
						<div class="product">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
												</div><!-- /.product -->
			
			
						<div class="product  last">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
												</div><!-- /.product -->
								</div><!-- /.products -->
								</div>
					</div>
				</section>
			</div><!-- /.tab-pane -->
	
			<div class="tab-pane" id="tab-products-3" role="tabpanel">
				<section class="section-products-carousel">
					<div class="home-v3-owl-carousel-tabs">
						<div class="woocommerce columns-4">
	
	
			<div class="products owl-carousel home-v3-carousel-tabs products-carousel columns-4">
			
			
						<div class="product first">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product ">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product ">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
							
						</div><!-- /.product -->
			
			
						<div class="product">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
			
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
						</div><!-- /.product -->
			
			
						<div class="product">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
												</div><!-- /.product -->
			
			
						<div class="product  last">
							<div class="product-outer">
								<div class="product-inner">
								   
									<a href="single.html">
										<h3>Tablet Red EliteBook  Revolve 810 G2</h3>
										<div class="product-thumbnail">
											<img src="/static/assets/images/blank.gif" data-echo="/static/assets/images/products/2.jpg" class="img-responsive" alt="">
										</div>
									</a>
							
									<div class="price-add-to-cart">
										<span class="price">
											<span class="electro-price">
												<ins><span class="amount"> </span></ins>
																	<span class="amount"> ￥1,999.00</span>
											</span>
										</span>
										<a rel="nofollow" href="single.html" class="button add_to_cart_button">Add to cart</a>
									</div><!-- /.price-add-to-cart -->
								</div><!-- /.product-inner -->
							</div><!-- /.product-outer -->
												</div><!-- /.product -->
								</div><!-- /.products -->
			
						</div>
					</div>
				</section>
			</div><!-- /.tab-pane -->
		</div><!-- /.tab-content -->
	</section><!-- /.products-carousel-tabs -->
               
               


            <footer id="colophon" class="site-footer">
	<div class="footer-newsletter">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-7">
					<h5 class="newsletter-title">Sign up to Newsletter</h5>
					<span class="newsletter-marketing-text">...and receive <strong>$20 coupon for first shopping</strong></span>
				</div>
				<div class="col-xs-12 col-sm-5">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter your email address">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">Sign Up</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom-widgets">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
					<div class="columns">
						<aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">Find It Fast</h4>
								<div class="menu-footer-menu-1-container">
									<ul id="menu-footer-menu-1" class="menu">
										<li class="menu-item"><a href="single.html">Laptops &#038; Computers</a></li>
										<li class="menu-item"><a href="single.html">Cameras &#038; Photography</a></li>
										<li class="menu-item"><a href="single.html">Smart Phones &#038; Tablets</a></li>
										<li class="menu-item"><a href="single.html">Video Games &#038; Consoles</a></li>
										<li class="menu-item"><a href="single.html">TV &#038; Audio</a></li>
										<li class="menu-item"><a href="single.html">Gadgets</a></li>
										<li class="menu-item "><a href="single.html">Car Electronic &#038; GPS</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div><!-- /.columns -->

					<div class="columns">
						<aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">&nbsp;</h4>
								<div class="menu-footer-menu-2-container">
									<ul id="menu-footer-menu-2" class="menu">
										<li class="menu-item"><a href="single.html">Printers &#038; Ink</a></li>
										<li class="menu-item "><a href="single.html">Software</a></li>
										<li  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a href="single.html">Office Supplies</a></li>
										<li  class="menu-item "><a href="single.html">Computer Components</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div><!-- /.columns -->

					<div class="columns">
						<aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
							<div class="body">
								<h4 class="widget-title">Customer Care</h4>
								<div class="menu-footer-menu-3-container">
									<ul id="menu-footer-menu-3" class="menu">
										<li class="menu-item"><a href="single.html">My Account</a></li>
										<li class="menu-item"><a href="single.html">Track your Order</a></li>
										<li class="menu-item"><a href="single.html">Wishlist</a></li>
										<li class="menu-item"><a href="single.html">Customer Service</a></li>
										<li class="menu-item"><a href="single.html">Returns/Exchange</a></li>
										<li class="menu-item"><a href="single.html">FAQs</a></li>
										<li class="menu-item"><a href="hsingle-product.html">Product Support</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div><!-- /.columns -->

				</div><!-- /.col -->

				<div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">

					<div class="footer-call-us">
						<div class="media">
							<span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
							<div class="media-body">
								<span class="call-us-text">Got Questions ? Call us 24/7!</span>
								<span class="call-us-number">(800) 8001-8588, (0600) 874 548</span>
							</div>
						</div>
					</div><!-- /.footer-call-us -->


					<div class="footer-address">
						<strong class="footer-address-title">Contact Info</strong>
						<address>17 Princess Road, London, Greater London NW1 8JR, UK</address>
					</div><!-- /.footer-address -->

					<div class="footer-social-icons">
						<ul class="social-icons list-unstyled">
							<li><a class="fa fa-facebook" href=""></a></li>
							<li><a class="fa fa-twitter" href=""></a></li>
							<li><a class="fa fa-pinterest" href=""></a></li>
							<li><a class="fa fa-linkedin" href=""></a></li>
							<li><a class="fa fa-google-plus" href=""></a></li>
							<li><a class="fa fa-tumblr" href=""></a></li>
							<li><a class="fa fa-instagram" href=""></a></li>
							<li><a class="fa fa-youtube" href=""></a></li>
							<li><a class="fa fa-rss" href="#"></a></li>
							</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<div class="container">
			<div class="pull-left flip copyright">&copy; <a href="">Electro</a> - All Rights Reserved</div>
			<div class="pull-right flip payment">
				<div class="footer-payment-logo">
					<ul class="cash-card card-inline">
						<li class="card-item"><img src="/static/assets/images/footer/payment-icon/1.png" alt="" width="52"></li>
						<li class="card-item"><img src="/static/assets/images/footer/payment-icon/2.png" alt="" width="52"></li>
						<li class="card-item"><img src="/static/assets/images/footer/payment-icon/3.png" alt="" width="52"></li>
						<li class="card-item"><img src="/static/assets/images/footer/payment-icon/4.png" alt="" width="52"></li>
						<li class="card-item"><img src="/static/assets/images/footer/payment-icon/5.png" alt="" width="52"></li>
					</ul>
				</div><!-- /.payment-methods -->
			</div>
		</div><!-- /.container -->
	</div><!-- /.copyright-bar -->
</footer><!-- #colophon -->

        </div><!-- #page -->

        <!-- For demo purposes – can be removed on production -->
        <div id="config" class="config">
            

           
        <!-- For demo purposes – can be removed on production : End -->

        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/echo.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/wow.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/electro.js"></script>

        <!-- For demo purposes – can be removed on production -->

        <script src="/static/switchstylesheet/switchstylesheet.js"></script>

           <script>
           (function($) {
               $(document).ready(function(){
                   $(".changecolor").switchstylesheet( { seperator:"color"} );
                   $('.show-theme-options').click(function(){
                       $(this).parent().toggleClass('open');
                       return false;
                   });

                   $('#home-pages').on( 'change', function() {
                       $.ajax({
                           url : $('#home-pages option:selected').val(),
                           success:function(res) {
                               location.href = $('#home-pages option:selected').val();
                           }
                       });
                   });

                    $('#demo-pages').on( 'change', function() {
            			$.ajax({
            				url : $('#demo-pages option:selected').val(),
            				success:function(res) {
            					location.href = $('#demo-pages option:selected').val();
            				}
            			});
            		});

                    $('#header-style').on( 'change', function() {
            			$.ajax({
            				url : $('#header-style option:selected').val(),
            				success:function(res) {
            					location.href = $('#header-style option:selected').val();
            				}
            			});
            		});

                    $('#shop-style').on( 'change', function() {
            			$.ajax({
            				url : $('#shop-style option:selected').val(),
            				success:function(res) {
            					location.href = $('#shop-style option:selected').val();
            				}
            			});
            		});

                    $('#product-category-col').on( 'change', function() {
            			$.ajax({
            				url : $('#product-category-col option:selected').val(),
            				success:function(res) {
            					location.href = $('#product-category-col option:selected').val();
            				}
            			});
            		});

                    $('#single-products').on( 'change', function() {
            			$.ajax({
            				url : $('#single-products option:selected').val(),
            				success:function(res) {
            					location.href = $('#single-products option:selected').val();
            				}
            			});
            		});

                    $('.style-toggle').on( 'click', function() {
            			$(this).parent('.config').toggleClass( 'open' );
            		});
               });
        })(jQuery);
        </script>
        <!-- For demo purposes – can be removed on production : End -->

    </body>
</html>
